.brawler-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
  background-color: #f6f6f6;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.brawler-container:hover {
  background-color: #eee;
}

.button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.delete-button {
  background-color: white;
  color: #f70b0b;
  border: 1px solid #f70b0b;
  border-radius: 0.25rem;
}

.delete-button:hover {
  color: white;
  background-color: #f70b0b;
}

.edit-button {
  background-color: white;
  color: #253adc;
  border: 1px solid #253adc;
  border-radius: 0.25rem;
}
.edit-button:hover {
  color: white;
  background-color: #253adc;
}

.id-col,
.id-col-header {
  flex-basis: 10%;
  text-align: center;
}
.name-col,
.name-col-header {
  flex-basis: 70%;
  padding-left: 1rem;
  text-align: left;
}

.name-col:hover {
  cursor: pointer;
  text-decoration: underline;
}

.delete-col,
.actions-col-header {
  flex-basis: 20%;
  text-align: center;
}

.list-header {
  display: flex;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
  width: 100%;
}

.list-items {
  width: 100%;
}

.info{
  padding: 2rem;
}
