.col-1 {
  flex-basis: 10%;
  text-align:left;
}
.col-2 {
  flex-basis: 70%;
  text-align:center;
}
.col-3 {
  flex-basis: 20%;
  text-align:center;
}

.list-header {
  display: flex;
  font-weight: 700;
  margin: 2rem 0;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid grey;
}

.brawler-container {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid grey;
  text-align: center;
}