.edit-brawler-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2rem auto;
  align-items: center;
}

.edit-brawler-container > form {
  width: 100%;
}

.info {
  padding: 2rem;
}
