.create-brawler-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2rem auto;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .create-brawler-container {
    width: 90%;
  }
}

.create-brawler-container > form {
  width: 100%;
}
