.main-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2rem auto;
  align-items: center;
}

.create-brawler-btn {
  text-decoration: none;
  margin: 4rem 0;
  width: fit-content;
  align-self: flex-start;
}
