.wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2rem auto;
  align-items: flex-start;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
}

.wrapper h1 {
  margin-bottom: 2rem;
}
.details-container {
  display: grid;
  padding: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2em;
}
.attributes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  grid-gap: 1em;
}
.attributes dt {
  grid-column-start: 1;
  font-weight: 600;
  text-transform: capitalize;
}
.attributes dd {
  grid-column-start: span 2;
}

.back-button {
  margin-top: 2rem;
  background-color: #47c345;
  border: none;
  color: #ffffff;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: bold;
}
