main {
  display: flex;
  padding: 1rem;
  margin: 2rem 0;
  color: black;
}

.container {
  margin: 0 auto;
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
